# ==========================================
# KONFIGURASI SERVER GATEWAY
# ==========================================
PORT=3005
NODE_ENV=development

# ==========================================
# BKN WSO2 API GATEWAY
# ==========================================
# Endpoint dasar API SIASN dan URL generate token WSO2
BKN_BASE_URL=https://apimws.bkn.go.id:8243/apisiasn/1.0
BKN_OAUTH2_URL=https://apimws.bkn.go.id/oauth2/token

# Kredensial Consumer WSO2 (untuk Header: Authorization: Bearer <token_wso2>)
BKN_CONSUMER_KEY=your_consumer_key_here
BKN_CONSUMER_SECRET=your_consumer_secret_here

# ==========================================
# BKN SSO (KEYCLOAK)
# ==========================================
# URL SSO SIASN
BKN_SSO_URL=https://sso-siasn.bkn.go.id/auth/realms/public-siasn/protocol/openid-connect/token
BKN_SSO_CLIENT_ID=konaweselatanws
BKN_SSO_USERNAME=your_nip_username
BKN_SSO_PASSWORD=your_password

# Mode SSO Auth: 'auto' (coba fetch token otomatis) atau 'manual' (menggunakan TOKEN_AUTHx di bawah)
BKN_SSO_MODE=manual

# Token SSO BKN manual (Header: Auth: Bearer <token_sso>)
# Digunakan jika BKN_SSO_MODE=manual atau jika auto-login gagal
TOKEN_AUTHx=eyJhbGciOi...
